<!-- Sidebar -->
<nav class="sidebar">
        
    <!-- close sidebar menu -->
    <div class="dismiss">
      <i class="fas fa-arrow-left"></i>
    </div>
    
    <div class="logo">
      <h3><a href="index.html"></a></h3>
    </div>
    
    <ul class="list-unstyled menu-elements">
      <li class="active">
        <a href="/tetris"><i class="fas fa-home"></i> Tetris Simulator</a>
      </li>
      <li>
        <a href="/polyominos"><i class="fas fa-cog"></i> Polyominos Generator</a>
      </li>
      <li>
        <a class="scroll-link" href="#section-2"><i class="fas fa-user"></i> About us</a>
      </li>
      <li>
        <a class="scroll-link" href="#section-5"><i class="fas fa-pencil-alt"></i> Portfolio</a>
      </li>
      <li>
        <a class="scroll-link" href="#section-6"><i class="fas fa-envelope"></i> Contact us</a>
      </li>

    </ul>
  
  </nav>
  <!-- End sidebar -->

<!-- Dark overlay -->
<div class="overlay"></div>

<!-- open sidebar menu -->
<a class="btn btn-primary btn-customized open-menu" href="#" role="button">
<i class="fas fa-align-left"></i></a>

<!-- Navbar Content -->
<div class="container-fluid g-0" style="position: fixed;">
    <div class="row level_title d-flex align-items-center justify-content-center">
      <div class="col-12"><%= theTitle %></div> <!-- This should be NAV bar or similar -->
    </div>
    <div class="row" style="height: 10px;"><div class="col-12"></div>
    </div>
</div>
<!-- Gap to make navbar fixed but occupiying space -->
<div class="container-fluid">
    <div class="row" style="height: 100px;">
      <div class="col-12"></div>
    </div> 
  </div>
  