<div class="row" style="height: 70px;">
    <div class="col" style="background-color: blue;"></div>
    <div class="col" style="background-color: rgb(246, 255, 0);"></div>
    <div class="col" style="background-color: blue;"></div>
    <div class="col" style="background-color: rgb(246, 255, 0);"></div>
    <div class="col" style="background-color: blue;"></div>
    <div class="col" style="background-color: rgb(246, 255, 0);"></div>
    <div class="col" style="background-color: blue;"></div>
    <div class="col" style="background-color: rgb(246, 255, 0);"></div>
    <div class="col" style="background-color: blue;"></div>
    <div class="col" style="background-color: rgb(246, 255, 0);"></div>
    <div class="col" style="background-color: blue;"></div>
    <div class="col" style="background-color: rgb(246, 255, 0);"></div>
</div>