<%- include("partials/upper.ejs") %>

<!-- General Content -->

<%- //include("partials/simple_row_12_cols.ejs") %>

<div class="row" style="height: 700px;">
    <!-- <div class="col-lg-6 offset-lg-3 col-xl-8 offset-xl-2 col-xxl-10 offset-xxl-1 col-sm-12" style="padding:0; background-color: rgb(78, 78, 78);"> -->
        <div class="sec_grid">

        </div>
    <!-- </div> -->
</div>

<!-- End content -->

<%- include("partials/lower.ejs") %>

  <script src="js/jpo_polyominos.js" charset="utf-8"></script>
  <script src="js/jpo_algorit.js" charset="utf-8"></script>

</body>
</html>
