<%- include("partials/upper.ejs") %>

      <!-- General Content -->
      <div class="row" style="height: 10px;"></div> <!-- extra margen -->
      <div class="row">
            <div class="col-12 g-0"><div class="the_grid"></div></div>
      </div>
      
      <!-- End content -->      

      
<%- include("partials/lower.ejs") %>
      
      <script src="js/jpo_index.js" charset="utf-8"></script>
      <script src="js/jpo_tetris.js" charset="utf-8"></script>

</body>
</html>